<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
   <div id="app">
    <form @submit.prevent="inest">
        <input type="text" v-model="frust">
        <input type="submit" 添加>
    </form>
    <ul>
            <li v-for="item,index in list">
                <span>{{item}}</span>
                <span @click="del(index)">删除</span>
            </li>
        </ul>
   </div>
   <script src="vue.js"></script>
   <script>
       new Vue({
           el:"#app",
           data() {
               return {
                   list:[
                       "香蕉",
                       "苹果",
                       "西瓜",
                   ],
                   frust:""
               }
           },
           methods: {
               inest(){
                   this.list.push(this.frust)
               },
               del(i){
                    this.list.splice(i,1)
               }
           },
       })
   </script>
</body>

</html>