<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.css">
</head>

<body>
    <div id="app">
        <form @submit.prevent="inest">
            <span>姓名：</span><input type="text" v-model="all.name">
            <span>性别：</span><input type="text" v-model="all.age">
            <span>年龄：</span><input type="text" v-model="all.sex">
            <span>成绩：</span><input type="text" v-model="all.grade">
            <input type="submit">
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>成绩</th>
                    <th>修改</th>
                    <th>删除</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="valur,index in list">
                    <td>{{valur.name}}</td>
                    <td>{{valur.age}}</td>
                    <td>{{valur.sex}}</td>
                    <td>{{valur.grade}}</td>
                    <td>
                        <button @click="modify(index)">修改</button>
                    </td>
                    <td>
                        <button @click="del(index)">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="vue.js"></script>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                all: {
                    name: "",
                    age: "",
                    sex: "",
                    grade: "",
                },
                list: []
            }
        },
        methods: {
            inest() {
                let a = {};
                a.name = this.all.name;
                a.age = this.all.age;
                a.sex = this.all.sex;
                a.grade = this.all.grade;
                this.list.push(a)
            },
            del(i) {
                if (confirm("是否确认删除数据")) {
                    this.list.splice(i, 1)
                }
            },
            modify(i) {
                let grade = prompt("请输入要修改的数据");
                this.list[i].grade = grade
            }
        },
    })
</script>

</html>